<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Company Page</title>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header-container">
            <h1>Company Information</h1>
        </div>
    </header>

    <!-- Main Content Section -->
    <div class="container">
        <section class="company-info">
            <h2>Company Name: {{ company_name }}</h2>
            <p>This is where you can display information related to the selected company.



                
            </p>
            
            <!-- Add a link/button to go back to the home page -->
            <a href="{{ url_for('home') }}" class="back-button">Home</a>
        </section>
    </div>

    <div>
        {%for graph in graphs%} 
            <div>
                {{graph | safe}}
            </div>
        {%endfor%} 
    </div>

    <!-- Footer Section -->
    <footer>
        <p></p>
    </footer>
</body>
</html>
