{% extends "layout.html" %}
{% block title%}
    Dashboard - {{company_name}}
{% endblock %}
{% block body %}

    <!-- Main Content Section -->
    <!-- Handling column related error(Formatting File)-->
    {% if flag1 == True or flag2 == True%}
        <div class="alert alert-danger" role="alert">
            <strong>Wrong Format Of File.</strong>
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    
    <div class="container-lg text-center mt-5">
        <section class="company-info">
            <h4>{{ filename }}</h4>
        </section>
    </div>

    <div>
        {%for graph in graphs%} 
            <div>
                {{graph | safe}}
            </div>
        {%endfor%} 
    </div>
{% endblock %}