{% extends "layout.html" %}
{% block title%}
    Home page
{% endblock %}
{% block body %}
<div class="tradingview-widget-container">
    <div id="tradingview_d907f"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": "980",
    "height": "480",
    "symbol": "BSE:SENSEX",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_d907f"
}
    );
    </script>
</div>

    <div>
        {{graph | safe}}
    </div>
        <!-- Upload CSV Section -->
        <section class="csv-upload mt-5">
            <h2>Upload a CSV File</h2>
            <p>Upload a CSV file to visualize company data.</p>
            <div class="input-group mb-3 w-25 mx-auto">
                <form method="post" action="/dashboard" enctype="multipart/form-data">
                <input class="form-control" type="file" name="file" id="formFile" accept=".csv">
                <button class="btn btn-outline-dark" type="submit" id="inputGroupFileAddon04">Upload</button>
                </form>
            </div>
        </section>
    
{% endblock %}